body{
    padding-top: 50px;
}


.menu {
	width: 20%;
	
}

.table{
	width: 80%;
}

input{
	border: 2px solid black;
}

input:valid{
	border: 2px solid green;
}
input:invalid{
	border: 2px solid red;
}
#image{
	width: 100px;
	height: 100px;
	background-size: 100%,100%;

}
#myCanvas{
	width: 100px;
	height: 100px;
	background-size: 100%,100%;

}
#filter{
	width: 100px;
	height: 100px;
	background-size: 100%,100%;
	opacity: 50%;
}

