html, body {
  height: 100%;
  background-color: #936c6c;
}
ol {
	background-color: white;
}

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin: 2px;
  color: #936c6c;
}
h2 {
	color: white;
	text-align: center;
}
